#container {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
}

body {
  background-color: rgb(241, 46, 46);
}

.grid {
  background-color: white;
  border: 1px solid black;
}

button {
  font-size: 20px;
  margin-bottom: 5px;
}
